@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TCYDMWebApp.DTO.UserDTO
@using Microsoft.AspNetCore.Mvc.Localization
@using TCYDMWebApp.Repositories.Lang


@inject IHtmlLocalizer<SharedResource> SharedLocalizer
    <form asp-controller="Users" asp-action="EditUserData" method="post">
        <div class="account">
            <a href="">@SharedLocalizer["Profile"]></a>
            <p>@Model.Name @Model.Surname</p>
        </div>
        <div class="account-edit">
            <h4 style="text-transform:capitalize">@SharedLocalizer["Change Profile"]</h4>
            <div class="row">

                <div class="col-lg-4 col-md-12">

                    <div class="form-group">
                        <select asp-for="RegionId" class="form-control" id="exampleFormControlSelect1">
                            @await Component.InvokeAsync("Region")
                        </select>
                        <span class="text-danger" asp-validation-for="RegionId"></span>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <select asp-for="CountryId" class="form-control" id="exampleFormControlSelect1">
                            @await Component.InvokeAsync("Country")
                        </select>
                        <span class="text-danger" asp-validation-for="CountryId"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <input asp-for="Name" value="@Model.Name" class="form-control" id="exampleFormControlInput1">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <input asp-for="Surname" value="@Model.Surname" class="form-control" id="exampleFormControlInput1">
                        <span class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="row">
                        <div class="col-6 ">
                            <div class="form-group">
                                <input style="width: 100%;" value="@Model.BornYear.ToString("yyyy-MM-dd")" asp-for="BornYear" type="date"  class="form-control"
                                       id="exampleFormControlInput1">
                                <span class="text-danger" asp-validation-for="BornYear"></span>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="form-group">
                                <select style="width: 100%;" asp-for="SexId" class="form-control cins "
                                        id="exampleFormControlSelect1">
                                    @if (Model.SexId == 1)
                                    {
                                        <option selected value=1>Kisi</option>
                                        <option value=2>Qadin</option>
                                        <option value=3>Other</option>
                                    }
                                    else
                                    {

                                        if (Model.SexId == 2)
                                        {
                                            <option value=1>Kisi</option>
                                            <option selected value=2>Qadin</option>
                                            <option value=3>Other</option>
                                        }
                                        if (Model.SexId == 3)
                                        {
                                            <option value=1>Kisi</option>
                                            <option value=2>Qadin</option>
                                            <option selected value=3>Other</option>
                                        }

                                    }




                                </select>
                                <span class="text-danger" asp-validation-for="SexId"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <input asp-for="TCNo" value="@Model.TCNo" class="form-control" id="exampleFormControlInput1">
                        <span class="text-danger" asp-validation-for="TCNo"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <input asp-for="Email" value="@Model.Email" class="form-control" id="exampleFormControlInput1">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <input asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control" id="exampleFormControlInput1">
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <input asp-for="Password" type="password" value="@Model.Password" class="form-control" id="password-field">
                        <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                </div>
                <hr class="account-line">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-xs-12 col-12">
                            <p class="p-tag">*Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-12 col-12 text-right">
                            <button class="sign-account">@SharedLocalizer["Save"]</button>
                        </div>
                    </div>
                </div>











            </div>
        </div>
    </form>